---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.container {
				display: flex;
				gap: 2em;
			}
			.main-content {
				flex-grow: 1;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: var(--snow-storm-2);
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.post-meta {
				margin-bottom: 0.5em;
				color: var(--snow-storm-0);
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<div class="container">
				<div class="main-content">
					<article>
						<div class="prose">
							<div class="title">
								<p class="post-meta">
									<FormattedDate date={pubDate} />
									{
										updatedDate && (
											<div class="last-updated-on">
												Last updated on <FormattedDate date={updatedDate} />
											</div>
										)
									}
								</p>
								<h1>{title}</h1>
								<hr />
							</div>
							<div class="post-body">
								<slot />
							</div>
						</div>
					</article>
				</div>
				<Sidebar />
			</div>
		</main>
		<Footer />
	</body>
</html>
